.ContainerStyles {
  height: calc(100vh - 77.5px); /*TODO höhe anpassen ggf, so dass man halt die höhe von der topnav und botnav abzieht.*/
  overflow: auto;
  text-align: center;
}

.CameraBox {
  position: relative;
}

.Camera {
  height: 75vh;
  width: 80vw;
}

.Overlay {
  position: absolute;
  width: 80vw;
  opacity: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}